@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
*{
    margin:0px;
    padding:0px;
}
.container{
    display:flex;
    font-family: 'Tapestry', cursive;
}
.sidebar nav{
    padding:15px;
    margin-top: -28px;
}
.sidebar nav li{
    list-style:none;
    padding:20px;
}
.sidebar{
    width:10vw;
    height:100vh;
    background-color:#a59e9e;
    
}
.main{
    width:90vw;
    height:100vh;
    /*background-color:green;*/
}
pre{
    font-size:20px;
}
.info{
    /*background-color:blue;*/
    height:68vh;
    width:80vw;
    margin:auto;
    margin-top:70px;
    display:flex;
    justify-content: space-around;
}
.mypic img{
    
    width:362px;
    height:68vh;
    /*transform:rotateZ(11deg);*/
}
.devinfo{
    display:flex;
    justify-content:center;
    flex-direction:column;
    font-size:32px;
    /*color:cyan;*/
}
button{
    margin-top:34px;
    
}
.bb button{
    margin: 9px 5px;
    background: linear-gradient(45deg, #ff0937,#0d1128,#e50f0f, transparent);
    color: white;
    border-radius: 32px;
    cursor:pointer;
    font-weight:bold;
    font-size:22px
}
.bb button:hover{
    background-color:red;
    color:black;
}
.ll{
    font-size: 50px;
}
.jj{
    font-size: 40px;
}
span{
    font-size: 30px;
}